/* =============================== MEDIA QUERIES (medium screens) ===============================*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
    position: relative;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1.3;
  }

  h2 {
    font-size: 2.5rem;
  }

  /* ================= NAV ================= */

  .nav__socails {
    display: none;
  }

  .nav__links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 0;
    display: none;
    perspective: 400px;
  }

  .nav__links li {
    height: 5rem;
    box-shadow: -3rem 3rem 3rem rgba(0, 0, 0, 0.7);
    animation: navAnimation 600ms ease forwards;
    transform: rotateX(90deg);
    opacity: 0;
    transform-origin: top;
  }

  .nav__links li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav__links li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav__links li:nth-child(4) {
    animation-delay: 600ms;
  }

  @keyframes navAnimation {
    to {
      transform: rotateX(0);
      opacity: 1;
    }
  }

  .nav__links li a {
    background: var(--color-bg-4);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 5rem 1rem 3rem;
    border: 1px solid var(--color-bg-2);
  }

  .nav__toggle-btn {
    display: inline-block;
    font-size: 2rem;
    background: transparent;
    cursor: pointer;
    color: var(--color-white);
  }

  #nav__toggle-close {
    display: none;
  }

  /* ================= HEADER ================= */

  header {
    height: fit-content;
    padding: 12rem 0 10rem;
    display: grid;
    place-items: center;
  }

  .header__image-bg,
  .header__image-sm {
    display: none;
  }

  .header__container {
    grid-template-columns: 40% 54%;
    gap: 6%;
    margin: 0;
  }

  .header__image-lg {
    filter: saturate(1) brightness(1);
    border: 1rem solid var(--color-bg-2);
    border-radius: 15rem 15rem 0 0;
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
  }

  .empty {
    display: none;
  }

  .header__tag {
    margin-bottom: 1rem;
  }

  .header__right p {
    width: 100%;
    margin-top: 1.5rem;
  }

  .header__frames,
  .contact__btn {
    display: none;
  }

  .header__btn-md {
    background: linear-gradient(
      135deg,
      var(--color-primary-variant),
      var(--color-primary)
    );
    color: var(--color-bg-1);
    margin-top: 2rem;
    display: inline-block;
    padding: 0.6rem 1.6rem;
    font-weight: 600;
    border-radius: 0.3rem;
  }

  .header__btn-md:hover {
    color: var(--color-bg-4);
  }

  /* ================= ABOUT ================= */
  .about__container {
    grid-template-columns: 40% 54%;
    gap: 6%;
  }

  .about__image-bg,
  .about__image-sm {
    display: none;
  }

  .about__image-lg {
    left: 0;
    top: 0;
    filter: saturate(1) brightness(1);
  }

  .about__image:hover .about__image-lg {
    border: none;
  }

  .about__right {
    margin: 0;
  }

  .about__right p {
    margin: 0;
  }

  .about__right p {
    margin-bottom: 1rem;
  }

  /* ================= GALLERY ================= */
  #gallery {
    margin-top: 8rem;
  }

  .gallery__container p {
    width: 100%;
    margin-top: 2rem;
  }

  .swiper-wrapper {
    margin-top: 4rem;
    height: fit-content;
  }

  /* ================= EXHIBITIONS ================= */
  .exhibitions__head > p {
    width: 100%;
    margin-top: 2rem;
  }

  .exhibitions__gallery {
    margin-top: 3rem;
    gap: 1rem;
  }

  .exhibitions__gallery article {
    border: none;
  }

  /*==============================COOKIES================*/
  .footer-content{
    grid-template-columns: 1fr;
  }

  .footer-content .logo{
    margin-top: 1rem;
  }

  footer .info{
    margin-top: 1rem;
  }
}


/* =============================== MEDIA QUERIES (small screens) ===============================*/
@media screen and (max-width: 600px) {
  h1,
  h2 {
    font-size: 2rem;
    line-height: 1.3;
    color: var(--color-white);
  }

  header {
    padding: 0;
    padding-bottom: 6rem;
  }

  .header__container {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }

  .header__image-lg {
    width: 80%;
    height: 20rem;
    margin: 0 auto;
    margin-top: 7rem;
    overflow: hidden;
  }

  .header__head {
    justify-content: center;
  }

  .header__right p {
    margin-top: 1rem;
  }

  .header__title {
    margin-top: 1rem;
  }

  /*======================== ABOUT ========================*/
  .about__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .about__right p {
    width: 100%;
  }

  .swiper-slide {
    border: 0;
  }

  /*========================== GALLERY =====================*/

  #gallery {
    margin-top: 6rem;
  }

  .gallery__container p {
    margin-top: 1rem;
  }

  .swiper-wrapper {
    margin-top: 3rem;
  }

  /*=========================== EXHIBITIONS =====================*/

  #exhibitions {
    margin-top: 6rem;
  }

  .exhibitions__head {
    grid-template-columns: 1fr;
  }

  .exhibitions__head > p {
    margin-top: 1rem;
  }

  .exhibitions__gallery {
    display: block;
  }

  .exhibitions__gallery article {
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
  }

  /*======================COOKIES==============================*/

  .cookies__content {
    grid-template-columns: 1fr;
  }

  /*=========================== FOOTER =====================*/
  .footer-content{
    grid-template-columns: 1fr;
  }

  .footer-content .logo{
    margin-top: 1rem;
  }

  footer .info{
    text-align: center;
    margin-top: 1rem;
  }
}
